*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
body{
    background-color: #C6C5B9;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
/* .nav {
width: 100%;
height: 99px;
background: #393D3F;
}

.nav ul {
    display: flex;
    color: #FFFFFF;
    list-style: none;
}

.nav ul li{
    margin-top: 40px ;
    margin-left: 1.5%;

}
.nav ul li img{
    height: 150px;
    
} */

.nav {
    display: flex;
    align-items: center;
    background: #393D3F
}

.trigger {
    display: none;
}

.hamburger {
    cursor: pointer;
    margin-left: 10px;
    float: left;
}

.hamburger span {
    height: 3px;
    width: 30px;
    background-color: white;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 2rem;
    position: relative;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Animaciones para rotarlo cuando se clickean */
.trigger:checked ~ .hamburger span:first-child {
    transform: rotate(45deg);
    top: 8px;
}

.trigger:checked ~ .hamburger span:last-child {
    transform: rotate(-45deg);
    top: -8px;
}

.trigger:checked ~ .hamburger span:nth-child(2) {
    opacity: 0;
}

#opciones {
    background-color: #393D3F;
    width: 100vw;
    padding: 30px 70px;
    margin-top: 29px;
    position: absolute;
    left: -100vw;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
}

/* Lo muestro cuando se clickeo el menu */
.trigger:checked ~ #opciones {
    left: 0 !important;
}

.menu {
    cursor: pointer;
}

.nav label {
    display:flex;
    width: 100%;
    justify-content: flex-start;
}

.nav ul {
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    gap: 0.5rem;
}

.nav img {
    height: 7rem;
    width: 7rem;
    filter: invert(100%);
}

.nav label li {
    list-style: none;
}


.nav label a{
    color: #FFFFFF;
    text-decoration: none;
}

@media (min-width: 1024px){
    .hamburger {
        display: none;
    }

    .nav {
        justify-content: flex-end;
        flex-direction: row-reverse;
        overflow-x: hidden;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
    }

    #opciones {
        position: inherit;
        overflow: hidden;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 50%;
    }
    
}

.nav a:visited{
    color: #FFFFFF ;
  }
.nav a:hover{
        color: #C6C5B9;
  }
.encabezado{
    padding: 30px;
    margin:auto;
    margin-bottom: 100px;
    width: 80%;
    background: #C6C5B9;
    color:#4a4e69;
    justify-content: center;
    text-align: center;
}


.encabezado img {
    max-width: 100%;
    height: auto;
}

.encabezado h1{
    font-size: 100px;
    text-decoration: underline;

}

.encabezado p{
    margin-top: 30px;
    font-size: 30px;

}
#subtitulo{
    margin-top: 5%;
    text-align: center;
}
.content{
    display: flex;
    padding: 30px;
    margin:auto;
    margin-top: 10px;
    width: 80%;
    background: #C6C5B9;
    color:#4a4e69;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
#caja{ 
    margin: 20px;
    margin-left: 1%;
    margin-top: 7%;
    padding: 0.5rem;
    text-align: center;
    width: 500px;
    height: auto ;
    background: #D9D9D9;
    border-radius: 25px;
}
#caja img {
    height: 200px;
    width: auto;
}



#formulario{   
    display:flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#formulario form {
    padding: 30px;
    background: #F8F9FA;
    border-radius: 5px;
    color:#4a4e69;
    box-shadow:  7px 7px 7px 7px;
}


.controls{
width: 100%;
background: #F8F9FA;
padding: 10px;
border-radius: 4px;
margin-bottom: 16px;
border: 1px solid #4a4e69;
font-size: 18px;
margin-bottom: 10px;
color:#4a4e69;
}


.controls textarea{
max-width:400px ;
}
.butons{  
width: 100%;
background: #F8F9FA;
padding: 10px;
border-radius: 4px;
margin-bottom: 16px;
border: 1px solid #4a4e69;
font-size: 18px;
margin-bottom: 10px;  
color: #4a4e69;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #393D3F;
}
footer p{
    color: whitesmoke;
    text-align: center;
    margin: 0.6%;
}