@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Merriweather:wght@700&display=swap");
* {
margin: 0;
padding: 0; }

body{
    background-color: rgb(163, 166, 252);
    font-family: 'Merriweather Sans', sans-serif;
}
#centrado{
    text-align: center;
    align-items: center;
}
.titulocv{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(0, 52, 81);
    color: white;
    padding: 36px;
}

.imagenpersonal{
    width: 190px;
    height: 230px;
    margin-bottom: 50px;
    ;
}

.nombre{
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}

.datospersonales{
    text-align: center;
    font-weight: bold;
    background-color: rgb(0, 48, 239);
    color: rgb(255, 255, 255);
    padding: 20px;
}

.listas{
    font-weight: bold;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conocimientos{
    text-align:center;
    display: flex;
    justify-content: space-evenly;
}

.imgconocimientos{
    width: 250px;
    height: 250px;
}

.imgconocimientoshtml{
    margin-top: 25px;
    width: 200px;
    height: 200px;
}

footer{
    background-color: rgb(0, 0, 0);
    color: rgb(120, 120, 120);
    text-align: center;
    padding: 150px;
    font-weight: bold;
}

footer img:hover {
    width: 150px;
    height: 150px;
    transition: all 2s; }

.logosRedes{
    width: 75px;
    height: 78px;
    margin-right: 10px;
}

