body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Mono', monospace;
    background-color: #E9ECEF;
    margin: 0;
   padding: 0; 
   list-style: none;
   font-size: 20px;
    position: relative;

}

.nav {
    display: flex;
    align-items: center;
    background: whitesmoke;
}
label{
    height: 50px;
}
.trigger {
    display: none;
}

.hamburger {
    cursor: pointer;
    margin-left: 10px;
    float: left;
}

.hamburger span {
    height: 3px;
    width: 30px;
    background-color: black;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 2rem;
    position: relative;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Animaciones para rotarlo cuando se clickean */
.trigger:checked ~ .hamburger span:first-child {
    transform: rotate(45deg);
    top: 8px;
}

.trigger:checked ~ .hamburger span:last-child {
    transform: rotate(-45deg);
    top: -8px;
}

.trigger:checked ~ .hamburger span:nth-child(2) {
    opacity: 0;
}

#opciones {
    margin: 10px;
    font-size: 20px;
    background-color: whitesmoke;
    width: 100vw;
    padding: 30px 70px;
    margin-top: 29px;
    position: absolute;
    left: -100vw;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
}

/* Lo muestro cuando se clickeo el menu */
.trigger:checked ~ #opciones {
    left: 0 !important;
}

.menu {
    cursor: pointer;
}

.nav label {
    display:flex;
    width: 100%;
    justify-content: flex-start;
}

.nav ul {
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    gap: 0.5rem;
}

.nav label li {
    list-style: none;
}


.nav label a{
    color: black;
    text-decoration: none;
}

@media (min-width: 1024px){
    .hamburger {
        display: none;
    }

    .nav {
        justify-content: flex-end;
        flex-direction: row-reverse;
        overflow-x: hidden;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
    }

    #opciones {
        position: inherit;
        overflow: hidden;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 50%;
    }
   
}

#subtitulo{
    padding: 0px;
    margin-bottom: 0;
    margin-left: 50px;
}

#encabezado .contenedor{
    display: flex;
    margin-top: 20px;

}
/*Sobre mi*/
#encabezado{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #E9ECEF;
    background-size: cover;
    padding: 0; 
}



#encabezado .contenedor img{
    padding: 20px;
    margin-top: 10px;
    height: 15cm;
    margin-left: 10px;
    border-radius: 6px;
}

#encabezado .contenedor p{
    font-size: 25px;
    height: 150px;
    width: 550px;
    justify-content:center;
    margin-right:10px;
    margin-top: 2%;
}

@media screen and (max-width: 1024px) {
    #encabezado{
        background-color: #E9ECEF;
        background-size: cover;
        padding: 0; 
    }
    
    #encabezado .contenedor img{
        padding: 20px;
        margin-top: 10px;
        height: 15rem;
        margin-left: 10px;
        border-radius: 6px;
    }

    #encabezado .contenedor p{
        max-width:150px;
        font-size: 14px;
        height: 150px;
        width: 550px;
        justify-content:center;
        margin-right:10px;
        margin-top: 2%;
    }
    .Experiencia {
        max-width:450px;    
    }
    .cuadradito ul{
        padding: 2px;
        margin: 2px;
       max-width: 70px;
    }
}

/*Estudios*/

.conocimientos{
    padding: 0;
}

.conocimientos li{
    list-style: none;
    margin: 50px;
    
}
.conocimientos #estudios{
    margin-top: 35px;

}



.conocimientos #estudios li{
    margin:5px;
    margin-left: 16px;
}

.conocimientos #habilidades{
    margin-top: 35px;
 
    margin-right: 16px;
}
.conocimientos #habilidades img{
    align-items: center;
    height: 30px;
    width: 30px;
}

.conocimientos #habilidades li{
    margin: 7px;
    display: inline-block;
    height: 50px;
    width: 50px ;
    text-align: center;
}

/*Experiencia*/

.Experiencia #ExperienciaS {
    margin:5px;
}
.Experiencia ul li{
    list-style: none;

}
.Experiencia ul{
    padding: 30px;
}
.Experiencia h2{
    padding: 3px;
}

/*Contactame*/

.cuadradito{
    margin: auto;
    height: auto;
    width: 350px;
    font-size: 25px;

}
.cuadradito ul p {
    margin-bottom: 20px;
    margin-top: 20px;
    list-style: none;
}
.cuadradito ul li a {
    color: #000;
    text-decoration: none;
}
.cuadradito ul{
    padding: 0;
}

.cuadradito ul li a:visited {
    color: #000;    
}

.cuadradito img{
    width: 650px;
    background-color: #E9ECEF;
}
footer {
    display: flex;
    height:auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}
footer p{
    color: black;
    text-align: center;
    margin: 0.6%;
}
footer img{
    
    margin: 2px;
    height: auto;
    width: auto;
    max-width: 25px;
    max-width: 25px;
}
